/*-- SpecialCSS

ÍNDICE 

1. Menú
2. Etiquetas
3. Tipografía
4. Artículos

*/




/*---------------------------------------------------------------- 1. Menú ---------------------------------------------------------------- */


footer {
	text-align: center;
	width: 100%;
	border-top: black 1px solid;
	border-style: ridge
	padding-bottom: 12%;
}
	
																			
@font-face {
    font-family: "Carlito", "Glacial Indifference";
    src: url("/fonts");
}

.navigation{
  max-height: inherit; 
  position: relative;
  right: inherit;
  width: auto;
  background: transparent;
}

.navigation-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 0px;
}

.navigation li{
  display: block;
}
@media only screen and (min-width: 37.5em){
.navigation li{
  display: inline-block; //los elementos van en línea
  }
}


		/* Me he quedado en: https://www.ernestojimenez.net/art/tutorial-creacion-menu-responsive-paso-paso/ */

																	
																	
																	
																
/*---------------------------------------------------------------- 2. Etiquetas ---------------------------------------------------------------- */

																	
																	
/* Botones de la página inicial */

#initial
{
	border-radius: 60px 60px 60px 60px;
	-moz-border-radius:  40px 40px 60px 60px;
	-webkit-border-radius:  60px 60px 40px 40px;
	border: 2px solid #665c00;
	background: #ffff1;
	font-size: 28px;
    margin-right: 20px;
    margin-bottom: 100px;	
				 }

/* Botón de Sigue Leyendo */
				 
#sigueleyendo				 
				 
{
	border-left: black 1px;
	font-size: 8px; 
	background: #fff;
	padding-left: 30%;
	padding-right: 30%;
	text-align: center;
				 }
				
 
 #header {
  width: 80%;
  height: 60%;
  border: black 3px solid;
  margin-left: auto;
  margin-right: auto;
  color: ccb800;
  background-image: url("img/fondoheader.jpg");
  padding-bottom: 5%;
  }
		

				 }		
		
#zonabotones
{
	padding-bottom: 30%;
	padding-top: 30%;
				 }
		
		
		
 
		
/*---------------------------------------------------------------- 3. Tipografía ---------------------------------------------------------------- */
 
 
 
 
 a:link   
{   
 text-decoration:none;
 color: #00000;
} 

 
 @font-face {
    font-family: "Carlito", "GlacialIndifference";
	
}
 
 p {
	font-family: "Carlito";
	font-size: 3em;
	margin: 3rem;}

h1,h2 {
	font-family: "GlacialIndifference";
	font-size: 4em;
	margin: 3rem}

h3,h4,h5
		{
	font-family: "GlacialIndifference";
	font-size: 1em;
	margin: 3rem}

p .container{
		color: #000000;
}

h1 .container{

			color: #363738;
				 font-size: 89px; 
				 }


				 
				 
				 
				 
																/* 4. Artículos */
		
				 
				 
				 
				 
				 
				 
h1 .article  {
			font-size: 48px;
			line-height: 1.7;
			color: #4a4a4a;
			letter-spacing: 50px;}
		
h1 .article {
				color: #363738;
				font-size: 1.5rem;
				text-align: center}
				background-image: url(

