<!-- SpecialCSS -->

/* ÍNDICE 

1. Menú
2. Etiquetas
3. Tipografía
4. Artículos

*/




/*---------------------------------------------------------------- 1. Menú ---------------------------------------------------------------- */



																			
@font-face {
    font-family: "Austin-Roman";
    src: url("/fonts/Austin-Roman.wolff") format("truetype");
}

.navigation{
  max-height: inherit; 
  position: relative;
  right: inherit;
  width: auto;
  background: transparent;
}

.navigation-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 0px;
}

.navigation li{
  display: block;
}
@media only screen and (min-width: 37.5em){
.navigation li{
  display: inline-block; //los elementos van en línea
}
}

/* Ocultamos el enlace en pantallas anchas */
@media only screen and (min-width: 37.5em){
  .navigation-toggle{
    width: 0;
    height: 0;
  }
}

		/* Me he quedado en: https://www.ernestojimenez.net/art/tutorial-creacion-menu-responsive-paso-paso/ */

																	
																	
																	
																
/*---------------------------------------------------------------- 2. Etiquetas ---------------------------------------------------------------- */

																	
																	
/* Botones de la página inicial */

#initial
{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 12px solid #665c00;
	font-size: 4px; 
				 }

/* Botón de Sigue Leyendo */
				 
#sigueleyendo				 
				 
{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 12px solid #665c00;
	font-size: 14px; 
	background: #fff;
				 }
				
 
 #header {
 margin: 3rem, 3rem, 3rem, 6rem}
		
		
		
		
		
		
 
		
/*---------------------------------------------------------------- 3. Tipografía ---------------------------------------------------------------- */
 
 
 
 
 
 				 a:link   
{   
 text-decoration:none;
} 

 
 @font-face {
    font-family: "Austin Roman";
    src: local("C:\Users\Gloo\Documents\GitHub\espanya-vacia-seminaristas\pw-seminaristas\css"), url("/fonts/Austin-Roman.woff") format("woff"), format("truetype");
}
 
 p {
	font-family: "Austin Roman"
	font-size: 3em;
	margin: 3rem;}

h1,h2 {
	font-family: "Austin Roman"
	font-size: 8em;
	margin: 3rem}

h3,h4,h5
		{
	font-size: 4em;
	margin: 3rem}

p .container{
		color: #000000;
}

h1 .container{

			h1   color: #363738;
				 font-size: 89px; 
				 }


				 
				 
				 
				 
																/* 4. Artículos */
		
				 
				 
				 
				 
				 
				 
h1 .article  {
			font-size: 48px;
			line-height: 1.7;
			color: #4a4a4a;
			letter-spacing: 50px;}
		
h1 .article {
				color: #363738;
				font-size: 1.5rem;
				text-align: center}
				
		h3 {
				
				
		.p {
			font-size: 1.5rem;
			line-height: 1.7;
			color: #4a4a4a;
			letter-spacing: 0.063rem;}