/*-- SpecialCSS

ÍNDICE 

1. Menú
2. Etiquetas
3. Tipografía
4. Artículos

*/



footer {
	text-align: center;
	border-top: black 1px solid;
	border-style: ridge;
	padding-left: 30%;
	padding-right: 30%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}
	
																			



/*---------------------------------------------------------------- 1. Menú ---------------------------------------------------------------- */



div#uno{
	background-color: #ffe500;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	border-style: outset;
		border-bottom-color: #665c00;
		border-radius: 35%;
}

div#dos{
	background-color: #ffe500;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	border-style: outset;
		border-bottom-color: #665c00;
		border-radius: 35%;
	}

div#tres{
	background-color: #ffe500;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	border-style: outset;
		border-bottom-color: #665c00;
		border-radius: 35%;
	}

div#cuatro{
	background-color: #ffe500;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	border-style: outset;
		border-bottom-color: #665c00;
		border-radius: 35%;
}

img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(555,555,555,.15);
	width:40px;
	width: 250px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(155,155,155,0);
	-webkit-transition:box-shadow .80s;

}

p.texto{
	font-size: 32px;
	color:white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	opacity: .6;
	-webkit-transition: padding-top .50s;
}

div.contenedor{
	height:450px;
    padding-bottom: 60px;
}

div.contenedor:hover{
    padding-top: 10%;
	padding-bottom: 10%;
	opacity: .0,5;
	-webkit-box-shadow:0px 0px 0px 0px rgba(55,55,55,.6) 
}

div.contenedor:hover p.texto{
	font-size: 64px;
	-webkit-transition: .50s;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(55,55,55,.6);
}
																	
																
/*---------------------------------------------------------------- 2. Etiquetas ---------------------------------------------------------------- */

#logo{

			padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
margin-bottom: 0;}
																	
/* Botones de la página inicial */

#initial{
	
	border-radius: 60px 60px 60px 60px;
	-moz-border-radius:  40px 40px 60px 60px;
	-webkit-border-radius:  60px 60px 40px 40px;
	border: 2px solid #665c00;
	background: #ffff1;
	font-size: 28px;
    margin-right: 20px;
    margin-bottom: 100px;	
				 }

/* Botón de Sigue Leyendo */
				 
#sigueleyendo				 
				 
{
	border-left: black 20%;
	font-size: 8px; 
	color: #665c00;
	text-align: center;
	background: #fff;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 0;
	border-radius: 5%;
	padding-top: 0;
	padding-bottom: 0;
				 }
				 
#sigueleyendo:hover{	
				 
	border-left: black 80%;
	font-size: 12px; 
	a-color: #665c00;
	text-align: center;
	background: #fff;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 0;
	border-radius: 5%;
	padding-top: 0;
	padding-bottom: 0;
				 }
 
div#header {


  height: 70%;
	background-image: url("../img/fondoheader1.jpg");	
	background-repeat: no-repeat;
  	padding-left: 30%;
	padding-right: 30%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	/*text*/
	text-align: right;
	color: #fff;
	text-decoration: none;
	padding-top: 18%;
	margin-top: 0%;
	padding-right: 6%;
	margin-bottom: 0%;
	position: relative;
}
		
/*---------------------------------------------------------------- 3. Tipografía ---------------------------------------------------------------- */
 

 @font-face {
    font-family: "Carlito", "Glacial Indifference";
    src: url("../fonts");
} 
 

 a:link   
{   
 text-decoration:none;
 color: #00000;
 }
 
 p {
	font-family: "Carlito";
	font-size: 3em;
	margin: 3rem;}

h1,h2 {
	font-family: "GlacialIndifference";
	font-size: 4em;
	margin: 3rem}

h3,h4,h5
		{
	font-family: "GlacialIndifference";
	font-size: 1em;
	margin: 3rem}

.p container{
		color: #000000;
}

.h1 container{

			color: #363738;
				 font-size: 89px; 
				 }


				 
				 
				 
				 
																/* 4. Artículos */
		

article {
		background: #fff;
	padding-left: 30%;
	padding-right: 30%;
	text-align: center;
	}
		
		
.article p{
			font-size: 16px;
			line-height: 1.5;
			color: #665c00;
			}
				 
				 
				 
				 
.h1 article  {
			font-size: 48px;
			line-height: 1.7;
			color: #4a4a4a;
			letter-spacing: 50px;}
		

